<div class="social-media">
    <a href="https://www.facebook.com/" target="_blank"><img src="../../../assets/images/vector6.svg" alt="facebook"></a>
    <a href="https://vk.com/" target="_blank"><img src="../../../assets/images/vector7.svg" alt="instagram"></a>
    <a href="https://twitter.com/" target="_blank"><img src="../../../assets/images/vector8.svg" alt="twitter"></a>
    <a href="https://www.instagram.com/" target="_blank"><img src="../../../assets/images/vector9.svg" alt="G"></a>
    <a href="http://https://www.tiktok.com/" target="_blank"><img src="../../../assets/images/vector5.svg" alt="youtube"></a>
</div>
